.form {
 
  margin: 0.50rem 0;
  text-align: right;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}
.form label {
  position: relative;
    top: -3px;
}

.form button {
  
  font-size: small;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: .25rem .75rem;
  border-radius: 20px;
  position: relative;
  top: -4px;
  margin-left: 1rem;
  width: fit-content;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}